doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title !{cv["name"]}
    link(rel="stylesheet", href="public/css/style.css", type="text/css")
    link(rel="stylesheet", href="public/css/print.css", type="text/css", media="print")
  body
    div#page
      include top.pug
      div#content
        div.section
          em !{cv["motivation"]}
        div.section
          h2.section-title Employment History
          hr
          div#employmentItems
            each item in cv["employmentItems"]
              include subsection.pug
          a(href="#")#expandHiddenEmploymentItems [+]
          div.hidden#hiddenEmploymentItems
            each item in cv["hiddenEmploymentItems"]
              include subsection.pug
        div.section
          h2.section-title Education
          hr
          div#educationItems
            each item in cv["educationItems"]
              include subsection.pug
          a(href="#")#expandHiddenEducationItems [+]
          div.hidden#hiddenEducationItems
            each item in cv["hiddenEducationItems"]
              include subsection.pug
        div.section
          h2.section-title Programming Skills
          hr
          div
            ul
              li !{cv["programmingSkills"]}
        div.section
          h2.section-title Personal Interests
          hr
          div
            ul
              each personalInterest in cv["personalInterests"]
                li !{personalInterest}
        div#footer Created with Node.js and MongoDB, last updated on 09/06/2019.
    script(src="public/js/jquery.min.js", type="text/javascript")
    script(src="public/js/application.js", type="text/javascript")



