doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Piano
    link(rel="stylesheet", href="/perso/public/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/perso/public/css/app.css", type="text/css")
  body
    div.container
      p.intro !{perso["piano"]["intro"]}

