/* Main Content Styles
-------------------------------------------------------- */

h1 {
	position: absolute;
	top: 5px;
	left: 25px;
	margin: 0;
	color: #eafafa;
	font-size: 25px;
	font-style: italic;
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1.4em;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	background: #dce5e8;
	color: #4b4b4b;
}

hr {
	border: none;
	border-top: 1px solid;
	margin-bottom: 10px;
}

a:link, a:visited {
	color: inherit;
}

a {
	text-decoration: none;
}

p {
	font-size: 11pt;
	padding: 10px 50px 5px 50px;
	text-align:justify;
	text-justify:inter-word;
}

/* Layout
-------------------------------------------------------- */

#page {
	font-size: 1.2em;
	width: 800px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	padding: 0;
	background-color: #fff;
}

#top {
	position: relative;
	height: 96px;
	width: 800px;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(bottom, rgb(140,179,184) 4%, rgb(38,109,171) 52%);
	background-image: -o-linear-gradient(bottom, rgb(140,179,184) 4%, rgb(38,109,171) 52%);
	background-image: -moz-linear-gradient(bottom, rgb(140,179,184) 4%, rgb(38,109,171) 52%);
	background-image: -webkit-linear-gradient(bottom, rgb(140,179,184) 4%, rgb(38,109,171) 52%);
	background-image: -ms-linear-gradient(bottom, rgb(140,179,184) 4%, rgb(38,109,171) 52%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, rgb(140,179,184)), color-stop(0.52, rgb(38,109,171)));
}

#contact {
	position: absolute;
	top: 45px;
	left: 25px;
	margin: 0;
	padding: 0;
	color: #eafafa;
	font-style: italic;
	list-style-type: none;
	font-size: 10px;
}

#photo {
	height: 96px;
	position: absolute;
	left: 730px;
	top: 0px;
}

#content {
	padding: 15px 20px 5px 20px;
}

.section {
	margin: 0 0 2.5em 0;
}

.section-title {
	font-size: 1.5em;
	font-weight: normal;
	color: #5160c9;
}

.subsection {
	clear: both;
	margin: 0 auto 20px auto;
	overflow: hidden;
}

.subsection-left {
	float: left;
	width: 180px;
	padding: 0 20px 0 0;
}

.subsection-logo {
	text-align: center;
}

.subsection-logo img {
	height: 35px;
}

.subsection-date {
	font-size: 0.8em;
	text-align: center;
}

.subsection-right {
	float: right;
	width: 100px;
}

.subsection-center {
	overflow: auto;
}

.subsection-title {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1.4em;
	color: #5160c9;
}

.subsection-location {
	margin: 0.3em 0 0 0;
}

.subsection-description ul {
	margin: 0.5em 0 0 0;
	font-size: 1em;
}

.subsection-emphasize {
	color: #5160c9;
}

.hidden {
	display: none;
}

#expandHiddenEmploymentItems {
	text-decoration: none;
}

#expandHiddenEducationItems {
	text-decoration: none;
} 

#footer {
	text-align: right;
	margin: 10px 0 0 0;
	font-style: italic;
	color: #666;
	margin-bottom: 8px;
}

#signature {
	text-align: right;
	margin-left: 450px;
	width: 200px;
}
