div.subsection
  div.subsection-left
    div.subsection-logo
      img
    div.subsection-date
  div.subsection-right
    div.subsection-location
  div.subsection-center
    div.subsection-title
    div.subsection-description
      ul